.idea
/install/myhadoop-install/.idea/
*.pyc
/install/myhadoop-install/tars/*
!/install/myhadoop-install/tars/placeholder
/install/myhadoop-install/parcels/*
!/install/myhadoop-install/parcels/placeholder
*.class
/utils/hadoop-ext/target/*
/utils/hadoop-ext/.*
/utils/hadoop-ext/target
