<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">${mvn.log.path}</Property>
        <property name="file_size" value="5MB" />
        <property name="file_encode" value="UTF-8" />
        <property name="file_max_count" value="10" />
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="trace-log" fileName="${log-path}/gisstore-agent-trace.log"
                     filePattern="${log-path}/gisstore-agent-trace-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="error-log" fileName="${log-path}/camo-agent-error.log"
                     filePattern="${log-path}/camo-info-error-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.jd.x.gisstore" level="trace" additivity="false">
            <appender-ref ref="trace-log" level="${mvn.log.jd.level}"/>
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="console-log" level="${mvn.log.jd.level}"/>
        </Logger>

        <Logger name="org.elasticsearch" level="error" additivity="false">
            <appender-ref ref="trace-log" level="error"/>
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="console-log" level="error"/>
        </Logger>

        <Logger name=" org.apache.hadoop" level="error" additivity="false">
            <appender-ref ref="trace-log" level="error"/>
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="console-log" level="error"/>
        </Logger>



        <Logger name="org.springframework.http" level="error" additivity="false">
            <appender-ref ref="trace-log" level="error"/>
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="console-log" level="error"/>
        </Logger>

        <Logger name="org.apache.http" level="error" additivity="false">
            <appender-ref ref="trace-log" level="error"/>
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="console-log" level="error"/>
        </Logger>

        <Root level="info" additivity="false">
            <AppenderRef ref="console-log" level="info"/>
            <appender-ref ref="trace-log" level="info"/>
            <appender-ref ref="error-log" level="error"/>
        </Root>
    </Loggers>
</Configuration>